body{
    font-family: "Hepta Slab", serif;
    height:100%;
}

/*Navbar*/
.navbar{
    background-color: black;
    color:white; 
    border: black;
    border-radius:0;
}

.navbar-default .navbar-brand {
    color:white;
}

.navbar-default .navbar-brand:hover {
    color:rgb(156, 149, 136);
}

.navbar-default .navbar-nav > li > a{
    color:white;
    
}

.navbar-default .navbar-nav > li > a:hover{
    color:rgb(156, 149, 136);
    
}

#corpo{
    min-height:70%;
    text-align: center;
}

h2{
    margin-top:4%;
}

h3{
    margin-bottom:6%;
}

/*FOOTER*/

#footer {
    position:absolute;
    width:100%;
    display: flex;
    flex-direction: column;
    color:white;
    background: rgb(107, 6, 6);
}

#footer_pt_1{
    padding:3% 0 0 0;
}

#footer_pt_2{
    padding:0 0 3% 0;
}